<!DOCTYPE html>
<html>
	<head>
		<title>Upload Files Page</title>
		<meta charset="utf-8">
		
		<style>
			#form {
				width: 100%;
				height: 40vh;
				padding: 0 40vw;
				background-color: pink;
			}
		</style>

	</head>

	<body>
		<h2>Select File(s) to Upload</h2>
	
		<p>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul class="flashes">
						{% for message in messages %}
							<li>{{ message }} </li>

						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</p>


		<form id="form" action="upload" method="POST" enctype="multipart/form-data">
			<dl>
				<p>
					<input type="file" name="files[]" multiple autocomplete="off" required>
				</p>
			</dl>

			<p>
				<input type="submit" value="Submit">
			</p>
		</form>

		<footer>
			<nav>
				<p style="text-align: right;"><a href="{{ url_for('downloads') }}">Download Files</a>
					
				</p>
			</nav>
		</footer>
	</body>
